{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'adminlte/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">

</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    {% include "myportfolio/includes/navbar.html" %}
    {% include "myportfolio/includes/sidebar.html" %}

    <div class="content-wrapper p-3">
        {% block content %}{% endblock %}
    </div>

</div>

<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/js/adminlte.min.js' %}"></script>

<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
